{% extends 'base.html' %}
{% load static %}

{% block title %}Atualização de Senha{% endblock %}

{% block search_bar %}{% endblock %}


{% block content %}

    <section class="container__section__change__password">
        <h2>Editar senha da conta</h2>
        <form class="form__section__change__password" method="POST" action="{% url 'update_password' %}">
            {% csrf_token %}
            <div class="form__field__change__password">
                <label>Digite sua nova senha</label>
                <input class="form__update__password" type="password" name="new_password1" id="new_password1" required>
            </div>
            <div class="form__field__change__password">
                <label>Confirme a sua nova senha</label>
                <input class="form__update__password" type="password" name="new_password2" id="new_password2" required>
            </div>
            <div class="form__button__group__change__password">
                <button class="form__change__password__button" type="submit" class="btn btn-primary">Atualizar</button>
                <a class="form__change__password__button" href="{% url 'profile_user' %}">Cancelar</a>
            </div>
        </form>
    </section>

{% endblock %}