{% extends 'base.html' %}
{% load static %}

{% block title %}Sobre{% endblock %}

{% block search_bar %}{% endblock %}

{% block content %}

    <section class="container__section__about">
        <h1>Sobre nós</h1>
        <p>
            Bem-vindo ao nosso sistema de aluguel de carros! Nosso objetivo é oferecer a melhor experiência
            para nossos clientes, proporcionando veículos de qualidade e um processo de locação simples e seguro.
        </p>
        <h2>Nossa Missão</h2>
        <p>
            Facilitar o acesso ao transporte, oferecendo soluções eficientes e acessíveis para locação de veículos.
        </p>
        <h2>Entre em Contato</h2>
        <p>
            Caso tenha dúvidas ou precise de suporte, entre em contato pelo nosso email: <strong>suporte@alugueldecarro.com</strong>
        </p>

    </section>

{% endblock %}